[submodule "Configuration"]
	path = Configuration
	url = git://github.com/jspahrsummers/xcconfigs.git
[submodule "Frameworks/libextobjc"]
	path = Frameworks/libextobjc
	url = git://github.com/jspahrsummers/libextobjc.git
[submodule "Frameworks/Proton"]
	path = Frameworks/Proton
	url = git@github.com:emeraldlark/Proton.git
