[submodule "Configuration"]
	path = Configuration
	url = git://github.com/jspahrsummers/xcconfigs.git
[submodule "Framework/libextobjc"]
	path = Framework/libextobjc
	url = git://github.com/jspahrsummers/libextobjc.git
[submodule "Framework/SafeDispatch"]
	path = Framework/SafeDispatch
	url = git://github.com/jspahrsummers/SafeDispatch.git
